body{
    background-color:rgb(226, 229, 229);
}

img{
    width: 300px;
    height: auto;
}

.main
{
    background-color: rgb(226, 229, 229);
    width: 25%;
    height: 20%;
    float: left;
    margin-left: 450px;
    margin-top: 150px;
    font-size: 24px;
}

.postt{
    padding-bottom: 4px;
    font-size: 20px;
    height: 35px;
    width: 310px;
    margin-top: 10px;
}

.postt::placeholder{
    font-size: 15px;
    text-align: left;
}

.button{
    height: 44px;
    width: 320px;
    border-radius: 6px;
    margin-top: 10px;
    background-color: #3955f7;
    color: white;
    font-size: 18px;
}

.recovery{
    height: 44px;
    width: 320px;
    border-radius: 6px;
    margin-top: 10px;
    color: #3955f7;
    background-color: white;
    font-size: 14px;
}

#create
{
    margin-top: 20px;
    width: 60%;
    height: 55px;
    color: white;
    background-color: #14aa03;
    font-size: 18px;
    border-radius: 6px;
}

.form
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    float: right;
    width: 15%;
    height: 10%;
    background-color: #f2f2f2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 450px;
    text-align: center;
    border-radius: 10px;
}

#page{
    float: right;
    color: #1c1e21;
    font-size: 12px;
    position: relative;
    top : 25px;
    width: 17%;
    left: 320px;
    text-align: center;
    font-style: italic;
}

.lnks
{
    margin-top: 225px;
}


.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: white;
    text-align: center;
    flex-direction: column;

    font-family: Arial;
    font-size: 14px;
    color: darkgrey;
}

.foot a{
    color: darkgrey;
    margin-left: 20px;
    text-decoration: none;
}